
# Bank Account Verification

## Structure

`BankAccountVerification`

## Fields

| Name | Type | Tags | Description |
|  --- | --- | --- | --- |
| `Deposit1InCents` | `*int64` | Optional | - |
| `Deposit2InCents` | `*int64` | Optional | - |

## Example (as JSON)

```json
{
  "deposit_1_in_cents": 142,
  "deposit_2_in_cents": 132
}
```

